body {
    background-color: rgb(255, 255, 255) 
}

* {
    font-family: 'Courier New', Courier, monospace
    

}

h1 {
    font-weight: 1;
    font-size: 35px;
    text-align: center;
}

.titles {
    font-size: 20px;
    font-weight: 550;
    text-align: center;

}

.titleinfo {
    font-size: 12px;
    text-align: left;
}

.name {
    margin-left: 15px;

}

hr {
    border: 2.5px solid rgb(0, 0, 0);
    border: 0;
    border-top: 3px double #8c8c8c;
}
.leftPanel {
    width: 27%;
    height: 100%;
    background-color: #c8ccff;
    padding:0.5cm;
  }

  .rightPanel {
    width: 73%;
    padding: 0.5cm;
    height: 100%;
  }